.card-wrapper {
    min-width: 100%;
}


.btn-and-srch{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;

    img{
        width: 30px;
        height: 30px;
    }

    button{
        
        margin: 20px;
        border: 2px solid #089bab;
        background-color: #f7f9f9;
        border-radius: 20px;
        padding: 5px;
        width: 25%;
        height: 30px;
    }

    .search {
        display: flex;
        border: 2px solid #089bab;
        border-radius: 20px;
        padding: 5px;
        width: 25%;
        margin: 20px;
       
        div{
            input{
                border: none;
                background: none;
                outline: none;        }
        }
      }
      

}

.list {
    
      padding: 20px;
      border-bottom: 1px solid #000;
      display: flex;
      justify-content: space-around;
      width: 80%; 

      a{

          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            float: left;
          }
      }
      
      h3 {
        margin-left: 20px;
        font-size: 1.5em;
      }

    }
  