.searchError{
    *{
        font-size: 55px;
    }
}

.error-view{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 85%;
    min-height: 100vh;
}