h2{
    margin: 35px 0 10px 0;
    font-size: 32px;

}


.main-page-wrapper{
display: flex;
min-width: 85%;
justify-content: center;
align-items: center;
}

.page-wrapper{
display: flex;
flex-direction: column;
align-items: center;
width: 85%;
}

.landing{
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    a{
        text-decoration: none;
    }
  
}